.dark-footer{
     background-color: var(--second-color);
     padding: 25px 15px;
}
.footer-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-footer img{
    width: 50px;
}
 .logo-footer{
     width: 200px;
     justify-self: flex-start;
}
 .footer-wrap address, .sacial-link{
    width: 200px;
    font-style: normal;
}
 .footer-wrap address a{
     display: block;
     color: var(--extra-color);
}
 .sacial-link a{
     display: block;
     color: var(--extra-color);
 }
 .dark-footer{
     color: var(--extra-color);
     font-size: 13px;
     font-family: var(--main-font);
 }
 .footer-address ul {
     margin: 0;
 }
 .top{
     margin: 10px 0;
 }