:root {
    --main-text-color: #fff;
    --second-color: #333;
    --extra-color: #999;
    --main-font: 'Hind Siliguri', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
h1, h2{
    font-family: var(--main-font);
    font-weight: 300;
    text-transform: uppercase;
}
.wrap{
    max-width: 1140px;
    margin: auto;
}
 header{
     background: url('../img/slide-main-photo.jpeg');
     height: 100vh;
 }
nav{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}
.nav-flex-container{
    display: flex;
    flex-direction: row;
}
.nav-flex-container li{
    margin: 0 3px;
}
.nav-flex-container li a{
    text-decoration: none;
    color: var(--main-text-color);
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--main-font);
}
.logo img{
    width: 50px;
}
.header-title{
   text-align: center;
   margin-top: 35vh;
   color: var(--second-color);
   font-weight: 500;
   font-size: 3em;
}
.header-subtitle{
    text-align: center;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--second-color);
}
.about-wrap{
    padding: 30px 15px;
}
.about-wrap h2{
    margin: 0;
}
 .about-bttn{
    display: inline-block;
    width: 130px;
    height: 30px;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    text-align: center;
    line-height: 30px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 11px;
 }
 .about-bttn:hover{
    color: var(--second-color);
    background-color: var(--main-text-color);
    transition: .5s linear;
 }
 .about-section{
     background-color: var(--second-color);
     color: var(--main-text-color);
     font-family: var(--main-font);
     border-bottom: 1px solid var(--extra-color);
 }
 .img-block-about{
     font-size: 14px;
 }
 .bttn-certificates{
     text-align: center;
 }
.index-gallery{
     background-color: var(--second-color);
     padding: 25px 15px;
     border-bottom: 1px solid var(--extra-color);
}
.index-gallery-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 15px;
    margin: 15px 0;
}
.index-gallery-block{
    text-align: center;
}
.index-gallery-block .block img{
    width: 100%;
}
 .index-gllr-title{
     color: var(--main-text-color);
     text-transform: uppercase;
     font-size: 12px;
 }
.index-gallery h2{
    margin: 0;
    color: var(--main-text-color);
}
.index-gllr-rm{
    display: inline-block;
    width: 130px;
    height: 30px;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    text-align: center;
    line-height: 30px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 15px;
}
.index-gllr-rm:hover{
    color: var(--second-color);
    background-color: var(--main-text-color);
    transition: .5s linear;
}
.index-gallery p{
    font-size: 14px;
    font-family: var(--main-font);
    color: var(--main-text-color);
    margin-top: 25px;
    text-align: center;
}
.dark-footer{
     background-color: var(--second-color);
     padding: 25px 15px;
}
@media (min-width: 600px){
    nav{
        background-color: transparent ;
    }
    .nav-flex-container li a{
        font-size: 16px;
    }
    .img-block-about p{
        font-size: 16px;
    }
}