@import url("adaptative.css");
@import url("header.css");
@import url("footer.css");
@import url("contact.css");
@import url("about.css");
@import url("gallery.css");

:root {
    --main-text-color: #fff;
    --second-color: #333;
    --extra-color: #999;
    --main-font: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
body{
    font-family: var(--main-font);
}
h1, h2{
    font-family: var(--main-font);
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--main-text-color);
}
h2{
    margin: 0;
}
.wrap{
    max-width: 1140px;
    margin: auto;
}
 main{
    width: 100%;
    margin-top: 100vh;
    z-index: 10;
 }

@media (min-width: 540px) {
    h2 {
      font-size: 30px;
    }
}