:root {
    --main-text-color: #fff;
    --second-color: #333;
    --main-font: 'Hind Siliguri', sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
h1, h2{
    font-family: var(--main-font);
    font-weight: 300;
    text-transform: uppercase;
}
.wrap{
    max-width: 980px;
    margin: auto;
}
 header{
     background: url('../img/slide-main-photo.jpeg');
     height: 100vh;
 }
nav{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;

}
.nav-flex-container{
    display: flex;
    flex-direction: row;
}
.nav-flex-container li{
    margin: 0 3px;
}
.nav-flex-container li a{
    text-decoration: none;
    color: var(--main-text-color);
    text-transform: uppercase;
    font-size: 11px;
}
.logo img{
    width: 50px;
}
.header-title{
   text-align: center;
   margin-top: 35vh;
   color: var(--second-color);
   font-weight: 500;
   font-size: 3em;
}
.header-subtitle{
    text-align: center;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--second-color);
}
.about-wrap{
padding: 30px 15px;
}
.about-wrap h2{
    margin: 0;
}
 .about-bttn{
     display: inline-block;
     width: 130px;
     height: 30px;
     color: var(--main-text-color);
     border: 1px solid var(--main-text-color);
     text-align: center;
     line-height: 30px;
     font-family: var(--main-font);
     text-transform: uppercase;
     font-size: 11px;
 }
 .about-section{
     background-color: var(--second-color);
     color: var(--main-text-color);
     font-family: var(--main-font);
     border-bottom: 1px solid #999;
 }
 .img-block-about{
     font-size: 15px;
 }